.idea/
/utilities/launcher/launcher
/utilities/logshipper/logshipper
/utilities/waitforever/waitforever
/utilities/debug-bridge/debug-bridge/debug-bridge

/installer/artifacts
/installer/kilt
/installer/cmd/kilt-installer/pkged.go
/installer/cmd/kilt-installer/kilt-installer
/dist/